<div mat-dialog-content class="initial-modal-new-class">
	<h2 mat-dialog-title>Gerenciar Produto</h2>
	<div class="actions-modal-buttons">
		<button mat-raised-button color="accent" class="general-button" (click)="onView()">
			<mat-icon>visibility</mat-icon>
			Visualizar
		</button>
    		<button mat-raised-button color="primary" class="general-button edit-button" (click)="onEdit()">
			<mat-icon>edit</mat-icon>
			Editar
		</button>
		<button mat-raised-button color="warn" class="general-button delete-button" (click)="onDelete()">
			<mat-icon>delete</mat-icon>
			Deletar
		</button>
	</div>
</div>
